
<!DOCTYPE html>

<html lang="en">  
     <head>
    <title>{{ site.title }}</title>
    {% include head.html %}
   </head>

   <section id="header" class="container">
      <div class='column'>
            <div class="column" style="float:center;  width: 35%; margin-left:30%; padding-top:25px">
              <h1 style="color:#303030;border-bottom: solid 0px #303030; margin-bottom: 5px; padding-top:0px; font-size:15pt; text-align: center;  letter-spacing: 0px">
               <img  src="assets/IMG_1697.png" style="opacity: 0.9;border-radius:70px; border: 0px solid #3B5998; max-width: 100%; margin-top:70px; margin-bottom:15px;transform:rotate(0deg)">
               <br><strong>Luca Mazzone</strong>
               <br></b> Economist, International Monetary Fund </b>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-envelope"></i></span><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                  <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span><a href="mailto:{{ site.phone }}">{{ site.phone }}</a></li> 
                  <li><span class="fa-li"><i class="fas fa-globe"></i></span><a href="{{ site.url }}">{{ site.url | replace: "https://", "" | replace: "http://", "" }}</a></li>
                </ul>
              </div>
          </div>
  </section>

  
  <body>
      <div class="pagebox">
        <section>{{ content }}</section>
      </div>
    {% include footer.html %}
  </body>
</html>
